[submodule "Util/CompiledNN"]
  path = Util/CompiledNN
  url = https://github.com/Starkit-SPL/CompiledNN.git
[submodule "Util/SimRobot"]
  path = Util/SimRobot
  url = https://github.com/Starkit-SPL/SimRobot.git
